<div class="container">
    <mat-grid-list cols="4" rowHeight="95px">

        <mat-grid-tile colspan="1" rowspan="4" style="background:#616161">
            <img src="../../../assets/home1.jpg" style="width: 100%;" alt="">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="4" style="background:#616161">
            <mat-list>
                <mat-list-item>
                    <h1>Sistema de pedido de comidas y bebidas</h1>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon>done </mat-icon> Ponete en la lista de espera
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>done </mat-icon> Realizá tu pedido
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>done </mat-icon> Seguí el estado del mismo
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>done </mat-icon> Disfrutalo
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>done </mat-icon> Realizá la encuesta de satisfacción
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="8" style="background:#616161;">
            <div class="img-cont" style="height: 100%;">
                <img src="../../../assets/home2.jpg" style="height: 100%;" alt="">
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1" style="background:#616161;">
                <h2>Estado de mesas del salón</h2>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="3" style="background:#616161">
            <span *ngFor="let mesa of mesas" [class]="mesa.estado!='libre'?'mesa-ocupada cuadro-mesa':'mesa-disponible cuadro-mesa'">
                <img class="img-mesa" [src]="mesa.foto" alt="">
                <span class="codigo-mesa">{{mesa.nombre}}</span>
                <span class="estado-mesa">{{mesa.estado!='libre'?'Ocupada':'Disponible'}}</span>
            </span>
        </mat-grid-tile>

    </mat-grid-list>
</div>