.container{
    margin-top: 1em;
}

.tu-mesa{
    position: absolute;
    top: 5px;
    left: 4px;
    background-color: #616161;
    color: #69f0ae;
    width: 31%;
    text-align: center;
    border-radius: 10px;
    height: 19%;
    z-index: 999;
    padding: 19px;
}

.titulo{
    width: 100%;
    border-radius: 10px;
    background-color: #616161;
    position: absolute;
    top: 0;
    color: #ffffff;
    text-align: left;
    z-index: 999;
    padding: 10px 10px 10px 50px;
}

mat-spinner{
    left: 98%;
}

mat-grid-tile{
    border-radius: 10px;
}

mat-card{
    position: absolute;
    top: 88px;
}

.align-right{
    position: absolute;
    right: 14px;
  }

  button{
    margin-left: 10px;
  }
