table {
    width: 90%;
}

.example-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }

  mat-list-item{
    margin-bottom: 1em;
  }

.example-container > * > * {
  width: 100%;
}

.example-card {
  width: 90%;
}

.registro-card{
  text-align: center;
}

.container{
    margin: 10px 75px 10px 75px;
}

.mat-column-select, .mat-column-sector{
    text-align: center;
}

.card-content{
    margin-top: 50px;
}

.center-cell{
  text-align: center;
  margin-left: 50%;
}

.input-cant{
  width: 50%;
}

.btn{
  margin-left: 20px;
}

.align-right{
  position: absolute;
  right: 14px;
}
