<div class="container">
        <div class="jumbotron">
            <div class="row title">
                <h3>Alta de Usuario</h3>
            </div>
            <form [formGroup]="altaForm" (ngSubmit)="alta()" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="nombre"><b>Nombre:</b></label>
                    <input formControlName="nombre" type="text" class="form-control" id="nombre"
                        placeholder="Ingrese su nombre:" required>
                </div>
                <div class="form-group">
                    <label for="username"><b>Nombre de usuario:</b></label>
                    <input formControlName="username" type="text" class="form-control" id="username"
                        placeholder="Ingrese su nombre de usuario:" required>
                </div>
    
                <div class="form-group">
                    <label for="password"><b>Contraseña:</b></label>
                    <input formControlName="password" type="password" class="form-control" id="password"
                        placeholder="Ingrese su contraseña:" required>
                </div>
    
                <button type="submit" [disabled]="!altaForm.valid" class="btn btn-primary">Alta</button>
            </form>
            <br>
        </div>
    </div>