<mat-sidenav-container *ngIf="isLoggedIn$ | async">
    <mat-sidenav #sidenav mode="over" [(opened)]="opened">
        <mat-nav-list>
            <mat-list-item *ngFor="let page of pages" (click)=goTo(page.url)>
                <mat-icon color="accent" matListIcon>{{page.icon}}</mat-icon>
                <span matLine>{{ page.title }}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-raised-button color="primary" style="color:#69f0ae" (click)="opened=!opened">Menu</button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>