mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    background: #424242;
/* background: linear-gradient(180deg, #424242 0%, rgba(246,246,246,1) 49%, rgba(250,250,250,1) 76%, rgba(255,255,255,1) 100%); */
    width: 20%;
    -webkit-box-shadow: 12px -1px 13px -7px rgba(0,0,0,0.48);
    -moz-box-shadow: 12px -1px 13px -7px rgba(0,0,0,0.48);
    box-shadow: 12px -1px 13px -7px rgba(0,0,0,0.48);
    position: fixed;
    top: 64px;
}

a{
    color: #fff !important;
    font-weight: 700 !important;
}