.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  span{
     padding-right: 1rem;
  }

  a{
     color: white;
     text-decoration: none;
  }

  mat-toolbar{
      -webkit-box-shadow: 3px 13px 13px -7px rgba(0,0,0,0.48);
      -moz-box-shadow: 3px 13px 13px -7px rgba(0,0,0,0.48);
      box-shadow: 3px 13px 13px -7px rgba(0,0,0,0.48);
  }