<div class="back">
    <mat-card class="example-card form-container">
        <mat-card-header>
            <mat-card-title style="color: #ff6e40;">La Comanda</mat-card-title>
            <mat-card-subtitle>Inicio de sesión</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="../../../assets/login-icon.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="example-container">
                <form [formGroup]="loginForm" (ngSubmit)="login()" class="needs-validation" novalidate>
                    <mat-form-field>
                        <input matInput formControlName="name" type="text" class="form-control" id="name"
                            [(ngModel)]="nombre" placeholder="Ingrese su nombre de usuario:" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="password" type="password" class="form-control" id="password"
                            [(ngModel)]="clave" placeholder="Ingrese su contraseña:" required>
                    </mat-form-field>
                    <button mat-raised-button color="warn" type="submit" [disabled]="!loginForm.valid"
                        class="btn btn-primary">Ingresar</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card quest-card">
        <mat-card-content>
            <div class="example-container registro-card">
                <p>¿No tienes una cuenta? <a color="accent" [routerLink]="['/registro']">Regístrate</a></p>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-content>
            <mat-select (selectionChange)="onChange($event.value)" placeholder="Usuario">
                <mat-option *ngFor="let usuario of usuariosLogin" value={{usuario.id}}>{{usuario.nombre}}
                </mat-option>
            </mat-select>
        </mat-card-content>
    </mat-card>



</div>


<!-- <button type="button" (click)="getTest()">getTest</button>
<p style="color: aliceblue;" *ngIf="getTestResponse!=null">{{getTestResponse.Mensaje}}</p>

<button type="button" (click)="postTest()">postTest</button>
<p style="color: aliceblue;" *ngIf="postTestResponse!=null">{{postTestResponse.Mensaje}}</p>

<button type="button" (click)="postTestTest()">postTestTest</button>
<p style="color: aliceblue;" *ngIf="postTestResponse!=null">{{postTestTestResponse.Mensaje}}</p> -->